.logoChenar{
    padding-top: 100px;
    padding-left: 30px;
    height: 100%;
    width: 70%;
}

.centerDiv{
    width: 80%;
    margin: 180px auto ;

}

.h1Logo{
    font-family: "Bernard MT Condensed";
    font-size: 56px;
    color: #2b542c;
}

.h2Adtext{
    font-family: "Helvetica Neue";
    font-size: 18px;
    color: #0f0f0f;
}

.formChenar{

}



